html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    padding: 0;
    border: 0;
    margin: 0;
}

#sidebar {
    flex-basis: 25%;
    background-color: pink;
}

#mainbody {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
}

#topbit {
    flex-basis: 10%;
    background-color: orange;
}

#bottombit {
    flex-basis: 10%;
    background-color: yellow;
}

#mainbit {
    flex-basis: 80%;
    display: flex;
    flex-direction: row;
}

#graph-area {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
}

#pie-chart {
    flex-basis: 100%;
    position: relative;
}

#info-area {
    flex-basis: 25%;
    background-color: lightgreen;
}
